input#defaultCheck1 {
    margin-left: -11px;
}
.delete {
    margin-left: 5px;
    background-color: red;
    padding: 3px;
    color: #f8f9fa;

  }

  .edit {
    background-color: #696cff;
    padding: 3px;
    color: #f8f9fa;

  }

