<div class="container">
    <i class="fa fa-arrow-circle-left " style="font-size:24px;cursor: pointer;" (click)="goBack()">back</i>

<div class="card mb-4">
    <h5 class="card-header">Product details</h5>
    <div class="card-body">

      <div class="row">
        <!-- Basic List group -->

        <!--/ Basic List group -->
        <!-- List group with Badges & Pills -->
        <div class="col-lg-6">
          <div class="demo-inline-spacing mt-3">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Product Name:
                <span class="">{{Equipment?.name}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Category:
                <span class="">{{Equipment?.categoryId}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
               SKU:
                <span class="">{{Equipment?.sku}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Retail Price:
                 <span class="">{{Equipment?.retail}}</span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
                wholeSale Price:
                 <span class="">{{Equipment?.wholeSalePrice}}</span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
               Unit:
                 <span class="">{{Equipment?.unit}}</span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
                Local Code:
                 <span class="">{{Equipment?.localCode}}</span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
                Rack No:
                 <span class="  ">{{Equipment?.rackNo}}</span>
               </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <h5 class="card-header mt-3">Product history<button type="button"class="btn btn-primary fa fa-plus" (click)="OpenClick()" style="float: right; padding: revert;"   #openbutton    data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasBackdrop"
            aria-controls="offcanvasBackdrop"  >
          </button></h5>
          <div class="card"  style="margin-top: 15px;">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                  <tr> 
                    <th>#</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>price</th>
                    <th>Create Date</th>
 
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                 <tr  *ngFor="let item of InventoryWarehouseList let i=index">
                    <td>{{i+1}}</td> 
                    
              
                    <td>{{item.type}}</td>
                    <td>{{item.quantity}}</td> 
                    <td>{{item.price}}</td> 
                    <td>{{item.lastUpdatedDate | utcToLocalTime:'full' }}</td> 


                  </tr>
      
                </tbody>
              </table>
            </div>
          </div>
          





      </div>
    </div>

  </div>
  <div class="col-lg-4 col-md-6">
    <div class="mt-3">
      <form  [formGroup]="Warehouse!" (ngSubmit)="SavaWarehouse()">

      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasBackdrop"
        aria-labelledby="offcanvasBackdropLabel"
      >

        <div class="offcanvas-header">
          <h5 id="offcanvasBackdropLabel" class="offcanvas-title">Add/Remove from Inventory</h5>
          <button
          #closebutton
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body my-auto mx-0 ">
          <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row">
                        <input type="hidden"  formControlName="equipmentid">

                       <div class="mb-3 col-md-12">
                        <label class="form-label" for="basic-icon-default-fullname">Type <span class="validsign">*</span></label>
                        <div class="input-field" [class.error]="Warehouse.controls['type'].dirty && Warehouse.hasError('required','type')"   >

                          <ng-select  
                                 (change)="onDropdownChange($event)"
                                  bindLabel="name" 
                                  bindValue="id" 
                                  formControlName="type"
                                  >
                                  <ng-option value="" aria-selected="">Select an option</ng-option>
                                  <ng-option value="Add">Add</ng-option>
                                  <ng-option value="Release">Release</ng-option>
                                  <ng-option value="Damage">Damage</ng-option>


                              </ng-select>
                        </div>
                        <small class="text-danger" *ngIf="Type.errors?.['required'] && (Type.touched || Type.dirty)">Type is required. </small>

                      </div>
                      <div class="mb-3 col-md-12">
                        <label class="form-label" for="basic-icon-default-fullname">Quantity <span class="validsign">*</span></label>
                        <div class="input-field"  [class.error]="Warehouse.controls['quantity'].dirty && Warehouse.hasError('required','quantity')" >
                            <div class="input-group input-group-merge ">
                          <input
                            type="number"
                            min="1"
                            formControlName="quantity"

                            class="form-control"
                            id="basic-icon-default-fullname"
                            placeholder="Enter retail price"
                            aria-label="John Doe"
                            aria-describedby="basic-icon-default-fullname2"
                          />
                        </div>
                        </div>
                        <small class="text-danger" *ngIf="Quantity.errors?.['required'] && (Quantity.touched || Quantity.dirty)">Quantity is required. </small>
                      </div>
                      <div class="mb-3 col-md-12" *ngIf="damage">
                        <label class="form-label" for="basic-icon-default-fullname">Price</label>
                        <div class="input-field"   >
                            <div class="input-group input-group-merge ">
                          <input
                            type="number"
                            min="0"
                            formControlName="price"
                            class="form-control"
                            id="basic-icon-default-fullname"
                            placeholder="Enter retail price"
                            aria-label="John Doe"
                            aria-describedby="basic-icon-default-fullname2"
                          />
                        </div>
                        </div>
                      </div>
                      <div class="mb-3 col-md-12">
                        <label class="form-label" for="basic-icon-default-message">Description</label>
                        <div class="input-group input-group-merge">
                          <span id="basic-icon-default-message2" class="input-group-text"
                            ><i class="fa fa-comment"></i
                          ></span>
                          <textarea
                            id="basic-icon-default-message"
                            class="form-control"
                            formControlName="description"
                            placeholder="Hi, Do you have a moment to talk this product?"
                            aria-label="Hi, Do you have a moment to talk Joe?"
                            aria-describedby="basic-icon-default-message2"
                          ></textarea>
                        </div>
                      </div>



                      </div>                  
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer footer">

          <button type="submit" class="btn btn-primary fa fa-floppy-o"> Save</button>
        </div>

      </div>
    </form>

    </div>
  </div>

</div>
