.container-xxl.flex-grow-1, .container {
    max-width: 1414px !important; 
 }
 .footer{
 background-color: gainsboro;
 padding: 10px;
 }
 .negative-number {
    color: red;
  }
  
  .positive-number {
    color: black;
  }
