<div class="container">
    <i class="fa fa-arrow-circle-left " style="font-size:24px;cursor: pointer;" (click)="goBack()">back</i>

<div class="card mb-4">
    <h5 class="card-header">Product details</h5>
    <div class="card-body">

      <div class="row">
        <!-- Basic List group -->

        <!--/ Basic List group -->
        <!-- List group with Badges & Pills -->
        <div class="col-lg-6">
          <div class="demo-inline-spacing mt-3">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Product Name:
                <span class="badge bg-primary">5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Category:
                <span class="badge bg-success">2</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
               SKU:
                <span class="badge bg-danger rounded-pill">3</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Retail Price:
                 <span class="badge bg-danger rounded-pill">3</span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
                wholeSale Price:
                 <span class="badge bg-danger rounded-pill">3</span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
               Unit:
                 <span class="badge bg-danger rounded-pill">3</span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
                Local Code:
                 <span class="badge bg-danger rounded-pill">3</span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
                Rack No:
                 <span class="badge bg-danger rounded-pill">3</span>
               </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
            <button type="button"class="btn btn-primary fa fa-plus" style="float: right;margin-top: 10px;"  #openbutton data-bs-toggle="modal" data-bs-target="#backDropModal"   >
                Add/Remove
              </button>
          </div>
        <!--/ List group with Badges & Pills -->
      </div>
    </div>

  </div>

</div>
