.input-field.error{
    border:1px solid red;
    color :red;
    border-radius: 5px;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}
.delete {
    background-color: red;
    padding: 3px;
    color: #f8f9fa;

  }

