
<div class="container">
    <button type="button"class="btn btn-primary fa fa-plus" hidden   #openbutton data-bs-toggle="modal" data-bs-target="#backDropModal"   >
        New
      </button>

    <div class="col-lg-4 col-md-3">
        <div class="mt-3">
          <!-- Button trigger modal -->
          <!-- Modal -->
          <div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <form  [formGroup]="CustomerForm" (ngSubmit)="SaveCustomer()"  >
    
                <div class="modal-header">
                  <h5 class="modal-title" id="backDropModalTitle">{{Modeltitle}}</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body" >        
                  <div class="row">
                    <div class="col-xl">
                        <div class="card mb-4">
                          <div class="card-body">
                            <div class="row">
                              <div class="mb-3 col-md-4">
                                <label class="form-label" for="basic-icon-default-fullname">First Name <span class="validsign">*</span></label>
                                    <div class="input-field" [class.error]="CustomerForm.controls['firstName'].dirty && CustomerForm.hasError('required','firstName')"  >

                                  <input
                                  formControlName="firstName"
                                    type="text"
                                    class="form-control"
                                    id="basic-icon-default-fullname"
                                    placeholder="Enter first name"
                                    aria-label="John Doe"
                                    aria-describedby="basic-icon-default-fullname2"
                                  />
                                </div>
                                <small class="text-danger" *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)">First name is required. </small>

                               </div>
                               <div class="mb-3 col-md-4">
                                <label class="form-label" for="basic-icon-default-fullname">Last Name </label>
                                    <div class="input-field"   >

                                  <input
                                  formControlName="lastName"
                                    type="text"
                                    class="form-control"
                                    id="basic-icon-default-fullname"
                                    placeholder="Enter last name"
                                    aria-label="John Doe"
                                    aria-describedby="basic-icon-default-fullname2"
                                  />
                                </div>
                                <!-- <small class="text-danger" *ngIf="Productname.errors?.['required'] && (Productname.touched || Productname.dirty)">Product name is required. </small> -->

                               </div>
                               <div class="mb-3 col-md-4">
                                <label class="form-label" for="basic-icon-default-fullname">Cell Number <span class="validsign">*</span></label>
                                    <div class="input-field" [class.error]="CustomerForm.controls['cellNumber'].dirty && CustomerForm.hasError('required','cellNumber')"  >
                                  <input
                                  formControlName="cellNumber"
                                    type="text"
                                    class="form-control"
                                    id="basic-icon-default-fullname"
                                    placeholder="Enter cell number"
                                    aria-label="John Doe"
                                    aria-describedby="basic-icon-default-fullname2"
                                  />
                                </div>
                                <small class="text-danger" *ngIf="CellNumber.errors?.['required'] && (CellNumber.touched || CellNumber.dirty)">Cell number is required. </small>

                               </div>

       
                               <div class="mb-3 col-md-4">
                                <label class="form-label" for="basic-icon-default-fullname">Customer Type <span class="validsign">*</span></label>
                                <div class="input-field" [class.error]="CustomerForm.controls['customerType'].dirty && CustomerForm.hasError('required','customerType')"  >
                  
                
                                  <!-- <select id="select2"  class="  form-control " formControlName="categoryId">
                                    <option value="">Select an option</option>
                                    <option *ngFor="let option of Categorys " [value]="option.categoryId">{{ option.name }}</option>
                                  </select> -->
                                  <ng-select 
                                  formControlName="customerType" 
                                          bindLabel="name" 
                                          bindValue="id" 
                                          >
                                          <ng-option value="">Select an option</ng-option>
                                          <ng-option value="General">General</ng-option>
                                          <ng-option value="Vip">VIP</ng-option>

                                      </ng-select>
                                </div>
                                <small class="text-danger" *ngIf="CustomerType.errors?.['required'] && (CustomerType.touched || CustomerType.dirty)">Customer type is required. </small>

                              </div>
                              <div class="mb-3 col-md-4">
                                <label class="form-label" for="basic-icon-default-fullname">Email Address </label>
                                    <div class="input-field"   >

                                  <input
                                  formControlName="emailAddress"
                                    type="text"
                                    class="form-control"
                                    id="basic-icon-default-fullname"
                                    placeholder="Enter email"
                                    aria-label="John Doe"
                                    aria-describedby="basic-icon-default-fullname2"
                                  />
                                </div>
                                <!-- <small class="text-danger" *ngIf="Productname.errors?.['required'] && (Productname.touched || Productname.dirty)">Product name is required. </small> -->

                               </div>
                               <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-message">Address</label>
                                <div class="input-group input-group-merge">
                                  <span id="basic-icon-default-message2" class="input-group-text"
                                    ><i class="fa fa-home"></i
                                  ></span>
                                  <textarea
                                    formControlName="address"
                                    id="basic-icon-default-message"
                                    placeholder="Enter address..."
                                    class="form-control"
                                    aria-label="Enter address"
                                    aria-describedby="basic-icon-default-message2"
                                  ></textarea>
                                </div>
                              </div>
                              
                              <div class="form-check mb-3">
                                <input class="form-check-input" formControlName="isWholeSaler" type="checkbox" value="" id="defaultCheck1"  />
                                <label class="form-check-label" for="defaultCheck1"> IsWholeSaler? </label>
                              </div>                           
                              
                              </div>                  
                          </div>
                        </div>
                      </div>
                  </div>
    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" #closebutton data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary"   >Save</button>
                </div>
              </form>
    
              </div>
            </div>
          </div>
        </div>
      </div> 
</div>
