  @import url('assets/css/common.css');
  
  @import url('assets/css/demo.css');


    //  @import url('assets/vendor/fonts/boxicons.css');
    //       @import url('assets/vendor/fonts/boxicons.eot'); 
    //  @import url('assets/vendor/fonts/boxicons.woff'); 
  

 @import url('assets/vendor/css/core.css'); 
 @import url('assets/vendor/css/theme-default.css'); 
 @import url('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css'); 
 @import url('assets/vendor/libs/apex-charts/apex-charts.css'); 
 nav#layout-navbar {
  z-index: unset;
}

.validsign{
  color: red;
}

.input-field.error{
  border:1px solid red;
  color :red;
  border-radius: 5px;
}
 
/* You can add global styles to this file, and also import other style files */
